body{
	background:;
}

.fundo
{
	float: left;
	width: 75%;
	height:	300px;
	margin-left: 12.5%;
	background: blue;

}

.quad
{
	float: left;
	background: red;
	width: 30%;
	height: 30%;
	margin: 2.5% 1.5% 1% 2%;
	font-size: 1em;


}

.fim
{
	float: left;
	background: red;
	width: 30%;
	height: 30%;
	margin: 2.5% 1.5% 1% 1.5%;
	font-size: 1em;

}

#escolher
{
	float: left;
	width: 50%;
	margin-left: 25%;
	margin: 0  0 0 30%;
	font-size: 1em;
}